.btn {
  width: 40%;
  height: 10%;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 2%;
}
.btn-accept:hover {
  color: #fff;
  background: rgb(60, 151, 83);
  tansition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.btn-deny:hover {
  color: #fff;
  background: rgb(179, 56, 47);
  tansition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
h4 {
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 5%;
}
.btn-accept {
  margin-left: 5%;
  background-color: #90ee90;

  margin-right: 8%;
  color: rgb(106, 107, 107);
}

.btn-deny {
  background-color: #d36565;
  margin-left: 5%;
  color: aliceblue;
}

.wow {
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(124, 174, 231);
}
.backgr {
  background: rgb(255, 255, 255);
}
